USE [master]
GO
/****** Object:  Database [bdLestSimples]    Script Date: 10/01/2021 14:51:54 ******/
CREATE DATABASE [bdLestSimples] ON  PRIMARY 
( NAME = N'bdLestSimples', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\bdLestSimples.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'bdLestSimples_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\bdLestSimples_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bdLestSimples].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bdLestSimples]
GO
/****** Object:  Table [dbo].[tbl_tecidos]    Script Date: 10/01/2021 14:51:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_tecidos](
	[tecido] [nchar](30) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_mov_estoque]    Script Date: 10/01/2021 14:51:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_mov_estoque](
	[id] [int] NOT NULL,
	[tipo] [nchar](15) NOT NULL,
	[solicitante] [nchar](20) NOT NULL,
	[material] [nchar](50) NOT NULL,
	[cor] [nchar](20) NOT NULL,
	[cod_fornecedor] [nchar](20) NOT NULL,
	[cliente] [nchar](30) NOT NULL,
	[quantidade] [decimal](4, 2) NOT NULL,
	[data] [date] NOT NULL,
	[UND] [nchar](10) NOT NULL,
 CONSTRAINT [PK_tbl_mov_estoque] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_fornecedores]    Script Date: 10/01/2021 14:51:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_fornecedores](
	[fornecedores] [nchar](20) NOT NULL
) ON [PRIMARY]
GO
